body {
background-color: aquamarine;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }

  .menu {
   position: fixed; 
   left: 0;
   top: 10;
   width: 100%;
   background-color: black;
  }